* {
    box-sizing: border-box;
  }

/*Used for sticky footer*/
html,
body {
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}  
body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

img {
    width: 300px;
    height: 200px;
}

h1,
h3 {
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
    position: relative;
    z-index: 2;
    left: 0;
    bottom: 75px;
    background-color: #4aaaa5;
    padding: 10px 0 10px 10px;
    width: 300px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header {
    background: #ffffff;
    width: 100%;
}

.headerSection {
    position: relative;
    width: 960px;
    padding: 35px;
    margin: auto;
}
.nav {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    margin: auto;
}

.name {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    float: left;
    bottom: 0;
    left: 0;
    width: 0 auto;
    background-color: #4aaaa5;
}

/*Main body of page and houses the content container*/
.main {
    background-image: url("../images/pinkdust.png");
    clear: both;
}

/*Holds content*/
.container {
    background: #ffffff;
    margin: auto;
    width: 960px;
    padding: 20px; 
    clear: both;
    overflow: hidden; 
}

.footer {
    clear: left;
    border-top: 8px solid #4aaaa5;
    display: table-row;
    height: 1px;
    background: #666666;
    width: 100%;
    color: #ffffff;
    text-align: center; 
}

/*Used for sticky footer: Main section minus the footer*/
.wrapper { 
    padding: 20px;
    height: auto;
}

/*Used for sticky footer: footer*/
.wrapper2 {
    padding: 20px;
    height: auto;
    border-top: 8px solid #4aaaa5;
}

.about,
.portfolio,
.contact {
    float: right;
    width: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.fullName,
.email,
.message {
    width: 920px;
}

.message {
    height:200px;
}

#selfImage {
    transform: rotate(90deg);
    width: 200px;
    height: 200px;
}

/*Portfolio sections*/
.pItem1,
.pItem2,
.pItem3,
.pItem4,
.pItem5 {
    float: left;
    position: relative;
    z-index: 1;
}

.pItem3,
.pItem5 {
    clear: left;
}

.pItem2,
.pItem4 {
    margin-left: 20px;
}

/*Copyright in footer*/
.copy {
    width: 0 auto;
}
/*Contact form submit button*/
#submit {
    background-color: #4aaaa5;
    color: #ffffff; 
}

